<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">    <title>Title</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
        }

        .greeting-container {
            text-align: center;
        }

        .greeting {
            font-size: 1.5em;
            font-weight: bold;
            color: black;
        }
    </style>
</head>
<body>
    <div th:replace="~{header :: headerFragment}" class="greeting-container"></div>
    <div class="d-flex justify-content-end align-items-center">
        <sapn class= "greeting" th:text="${session.email != null }? ${session.email} + '님 반갑습니다.' : '' "></sapn>
    </div>
</body>
</html>